<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AlmacenWSPortBinding" />
                <binding name="RecursosHumanosWSPortBinding" />
                <binding name="NotificacionesWSPortBinding" />
                <binding name="GestionComercialWSPortBinding" />
                <binding name="RelacionesComercialesWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebService/AlmacenWS"
                binding="basicHttpBinding" bindingConfiguration="AlmacenWSPortBinding"
                contract="ComerziaWS.AlmacenWS" name="AlmacenWSPort" />
            <endpoint address="http://localhost:8080/WebService/RecursosHumanosWS"
                binding="basicHttpBinding" bindingConfiguration="RecursosHumanosWSPortBinding"
                contract="ComerziaWS.RecursosHumanosWS" name="RecursosHumanosWSPort" />
            <endpoint address="http://localhost:8080/WebService/NotificacionesWS"
                binding="basicHttpBinding" bindingConfiguration="NotificacionesWSPortBinding"
                contract="ComerziaWS.NotificacionesWS" name="NotificacionesWSPort" />
            <endpoint address="http://localhost:8080/WebService/GestionComercialWS"
                binding="basicHttpBinding" bindingConfiguration="GestionComercialWSPortBinding"
                contract="ComerziaWS.GestionComercialWS" name="GestionComercialWSPort" />
            <endpoint address="http://localhost:8080/WebService/RelacionesComercialesWS"
                binding="basicHttpBinding" bindingConfiguration="RelacionesComercialesWSPortBinding"
                contract="ComerziaWS.RelacionesComercialesWS" name="RelacionesComercialesWSPort" />
        </client>
    </system.serviceModel>
</configuration>