.vs/
*.pdb
*.bin
*.suo
*.cache
*.dll
/build/
*.jar

# Ignorar archivos de NetBeans
**/build/
**/dist/
**/nbproject/private/

# Ignorar archivos de Visual Studio
**/.vs/
**/bin/
**/obj/

# Ignorar archivos de Glassfish
glassfish7/